 body {

    font-family: sans-serif;
     background: yellow;
     border-width: 15px;
     border-color: grey;
     border-style: solid;
     padding: 2cm;
     margin: 0;
     text-align: center;
}

h2 {

    font-weight: bold;
    text-align: center;
    color: red;
}

div.ex1 {


}
