 body {

    font-family: sans-serif;
     background: yellow;
     border-width: 15px;
     border-color: black;
     border-style: solid;
}

h2 {

    font-weight: bold;
    text-align: center;
    color: red;
}
